build
CVS
autom4te.cache
autoscan.log
configure.scan
FPGA_images
beamdisp
c2e
c2e_old
c2elite
client
events
events++
f1
gateway
isegHV
klient
klientsupport
modulcheck
mqtt
pt2025
schottky
sis3100_dsp
tape
tsm
vertex
wago
tclIndex
*.ko
*.o
*.cmd
*.mod.c
Module.symvers
modules.order
Module.markers
.tmp_versions