SUBSYSTEM=="sis1100*",           MODE="0666"
SUBSYSTEM=="sis8300*",           MODE="0666"
SUBSYSTEM=="usb", ATTR{idVendor}=="1657", ATTR{idProduct}=="3153", MODE="0666"
